*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background-color: #191A22;
    color: white;
}

.ota div{
    width: 450px;
    height: 300px;
}